# generated extensions
*.gbc
*.map
*.sym
*.exe
*.h.gch
*.pyc
*$py.class
*.o
*.lz
*.1bpp
*.2bpp
*.2bpp.vram0
*.2bpp.vram1
*.2bpp.vram2
data/tilesets/*_collision.bin

# to do: store PNGs for front pics
!gfx/pokemon/*/front.2bpp

# local tools
deploy.sh
