# generated extensions
*.gbc
*.map
*.sym
*.exe
*.bsp
*.h.gch
*.pyc
*$py.class
*.o
*.lz
*.1bpp
*.2bpp
*.2bpp.vram0
*.2bpp.vram1
*.2bpp.vram2
*.2bpp.vram0p
*.2bpp.vram1p
*.2bpp.vram2p
gfx/pokemon/*/*.dimensions
gfx/pokemon/*/*.animated.tilemap
gfx/pokemon/*/bitmask.asm
gfx/pokemon/*/frames.asm
data/tilesets/*_collision.bin
bank_ends.txt

# local tools
rgbds/
deploy.sh
